$AboutMeGradient: radial-gradient(circle at 100px 100px, #000000, #5cabff);
$SkillGradient: radial-gradient(circle at 100px 100px, #000000, #E67DEB);
$WorkGradient: radial-gradient(circle at 100px 100px, #000000, #00E7FD);
$LanguagesGradient: radial-gradient(circle at 100px 100px, #000000, #ED1B07);
$EducationGradient: radial-gradient(circle at 100px 100px, #000000, #98E59B);
$CertificateGradient: radial-gradient(circle at 100px 100px, #000000, #ff7f00);
