.img_container{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 100px 100px, #7A6C28,#dbbb19, #FFD700);
  border: outset #FFD700 4px ;
  .section_img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}