.cv_background_container{
  width: 116.25rem;
  height: 152rem;
  background-image: url("../asset/25101.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rodo{
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-top: 100px;
  font-size: 22px;
}

.cv_container{
  width: 1860px;
  height: 2160px;
  display: flex;
  background-image: url("../asset/background.png");
  background-position: 49% 76%;
  background-size: 93% 111%;
  background-repeat: no-repeat;
  .cv_content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 620px;
  }
}